$def with (results=None)

<div id="content" class="roundcorners">
  <h1>HyperTrends</h1>

  <h2 class="heading heading-grey">Trend Me!</h2>
  <form method="POST" action="/">
    <table>
      <tr>
	<td><input type="checkbox" name="wtt" checked="checked" /></td>
	<td>Twitter - What The Trends</td>
      </tr>
      <tr>
	<td><input type="checkbox" name="digg" /></td>
	<td>Digg - In Progress</td>
      </tr>
      <tr>
	<td></td>
	<td><input type="submit" value="Trend Me!"/></td>
      </tr>
    </table>
    <!--
    <table>
      <tr>
	<td>
	  google username:
	</td>
	<td>
	  <input type="text" name="google_username" />
	</td>
      </tr>
      <tr>
	<td>
	  google password:
	</td>
	<td>
	  <input type="password" name="google_password" />
	</td>
      </tr>
      <tr>
	<td>
	  Keyword 1	  
	</td>
	<td>
	  <input type="text" name="kwarg1" />
	</td>
      </tr>
      <tr>
	<td>
	  Keyword 2
	</td>
	<td>
	  <input type="text" name="kwarg2" />
	</td>
      </tr>
      <tr>
	<td>
	</td>
	<td>
	  <input type="submit" value="Trend Me!" />
	</td>
      </tr>
    </table>
    -->
  </form>

  <h2 class="heading heading-yellow">1. Google Trends Results</h2>
  <div class="google-trends">
    <iframe src="http://www.gmodules.com/ig/ifr?url=http://www.google.com/ig/modules/trends_gadget.xml&amp;source=imag&amp;up_is_init=true&amp;up_cur_term=Adam+Lambert,+Allison+Iraheta,+Danny+Gokey,+Kris+Allen&amp;up_date=mtd&amp;up_region=US" style="border:1px solid #ccc; padding:10px;" width="330" height="250" frameborder="0" scrolling="no"></iframe>
  </div>

  <h2 class="heading heading-blue">2. Craigslist</h2>

  <h2 class="heading heading-green">3. Facebook</h2>

  <h2 class="heading heading-red">Final Score</h2>
  $if results:
      $if results.get("wtt", None):
          <p><strong>Most Frequent Words:</strong> 
	    $results['wtt']['freq']
          <p>Date: $results['wtt']['as_of']</p>
	  $for trend in results['wtt']['trends']:
   	      <table>
		$for feature in trend:
  		    <tr>
	              <td><strong>$feature</strong></td>
	              <td>$trend[feature]</td>
		    </tr>
	      </table>
	      <hr/>
</div>

