$def with ()

<div id="content" class="roundcorners">
  <h1>HyperTrends</h1>

  <h2 class="heading heading-red">Final Score</h2>
  <p>
    ?
  </p>

  <h2 class="heading heading-yellow">1. Google Trends Results</h2>
  <div class="google-trends">
    <iframe src="http://www.gmodules.com/ig/ifr?url=http://www.google.com/ig/modules/trends_gadget.xml&amp;source=imag&amp;up_is_init=true&amp;up_cur_term=Adam+Lambert,+Allison+Iraheta,+Danny+Gokey,+Kris+Allen&amp;up_date=mtd&amp;up_region=US" style="border:1px solid #ccc; padding:10px;" width="330" height="250" frameborder="0" scrolling="no"></iframe>
  </div>

  <h2 class="heading heading-blue">2. Craigslist</h2>

  <h2 class="heading heading-green">3. Facebook</h2>




</div>

