$def with (content)

<html>
    <head>
        <title>Hyperink Trends</title>
        <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
	<link type="text/css" rel="stylesheet" media="screen" href="/static/css/hyperink_trends.css" /> 

	<!-- Zemanta -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script> 
	<script type="text/javascript" src="http://friedcellcollective.net/js/jQuery.windowName/jQuery.windowName.plugin.js"></script>    

	<script type="text/javascript" src="http://point-at-infinity.org/jssha256/jssha256.js"></script> 
    </head> 

    <body style="padding: 0px; margin: 0px;">
        $:content
    </body>
</html>
